@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 25px;
}

/**Classes **/

.benefits{
    font-weight: bold;
}


.navbar ul {
    
    list-style: none;
    width: 670px;
    left: 190px;
    top:19px;
    height: 37px;
    margin: 0 auto;
    padding : 0;
    background-color :white;
    text-align : center;

}

.navbar li {
    width: 300 px;
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

.icon{
    position: absolute;
    width: 53px;
    height: 53px;
}

.pagetitle{
    font-weight: bold;
    position: absolute;
}

.text-area {
	width: 180px;
    height: 200px;
	padding: 4px 8px 4px 8px;
	background: #ffffff;
	color: black;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	line-height: 1.3;
	text-align: left;
}


.text-area2 {
	width: 180px;
	height: 400px;
	padding: 4px 8px 4px 8px;
	background: #ffffff;
	color: black;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	line-height: 1.3;
	text-align: left;
}

/**Ids **/


/**Top of page**/

#titleHeader{
    position: absolute;
    left: 59px ;
    top: 15px ;
    width: 125px;
    height: 37px;
}

#p1{
    position: absolute;
    left: 59px;
    top: 126px;
    height: 74px;
    width: 267px;
    font-weight: bold;

}

#subp1{
    position: absolute;
    left: 59px;
    top: 221px;
    width: 236px;
    height: 64px;
}

#emailform{
    position: absolute;
    left: 800px;
    top:104px;
    width: 213px;
    height: 32;
}

#image1{
    position: absolute;
    left: 370px;
    top:104px;
    width: 412px;
    height: 270px;

}

/**First Benefits Section**/
#cdicon{
    position: absolute;
    left: 153px;
    top: 457px;
    width: 47px;
    height: 47px;
}

#staricon{
    left: 397px;
    top: 457px;
}

#uploadicon{
    left: 653px;
    top:457px;
}

#benefit1{
    position: absolute;
    left: 60px;
    top: 500px;
    width: 224px;
    height: 19px;
}

#benefit2{
    position: absolute;
    left:309px;
    top:500px;
    width: 224px;
    height: 19px;
}

#benefit3{
    position: absolute;
    left: 556px;
    top: 500px;
    width: 224px;
    height: 19px;
}

#sub-benefit1{
    position: absolute;
    left: 60px;
    top: 563px;
    width: 178px;
    height: 113px;
}

#sub-benefit2{
    position: absolute;
    left: 309px;
    top:563px;
    width: 178px;
    height: 113px;
}

#sub-benefit3{
    position:absolute;
    left:556px;
    top:563px;
    width: 224px;
    height: 19px;
}

#equalizerimage{
    position: absolute;
    left:300px;
    top:800px;
    width: 388px;
    height: 290px;
}

/**Second Benefits section**/

#image2{
    position: absolute;
    left: 59px;
    top: 1390px;
    width: 289px;
    height: 465px;
}

#pagetitle1{
    left:420px;
    top: 1140px;
    width: 274px;
    height: 30px;
}

#subp2{
    position: absolute;
    left: 420px;
    top: 1190px;
    width: 275px;
    height: 43px;
}

#benefit4{
    position: absolute;
    left: 495px;
    top: 1270px;
    width: 110px;
    height: 31px;
}

#sub-benefit4{
    position: absolute;
    left: 675px;
    top: 1270px;
    width: 183px;
    height: 55px;
}

#benefit5{
    position: absolute;
    left: 495px;
    top: 1530px;
    width: 180px;
    height: 62px;
}

#sub-benefit5{
    position: absolute;
    left: 675px;
    top: 1530px;
    width: 183px;
    height: 54px;
}

#benefit6{
    position: absolute;
    left: 495px;
    top: 1790px;
    width: 122px;
    height: 48px;
}

#sub-benefit6{
    position: absolute;
    left: 675px;
    top: 1790px;
    width: 183px;
    height:56px;
}

#speechicon{
    left: 420px;
    top: 1310px;
}

#staricon2{
    left: 420px;
    top: 1570px;
}

#ShieldIcon{
    left: 420px;
    top: 1830px;
}

/**Testemonials**/
#pagetitle2{
    position: absolute;
    left: 245px;
    top: 2017px;
    width: 351px;
    height: 30px;
}

#subp3{
    position: absolute;
    left: 245px;
    top: 2068px;
    width: 365px;
    height: 64px;
}

#testemonial1{
    position: absolute;
    left: 26px;
    top: 2135px;
}

#testemonial2{
    position: absolute;
    left: 317px;
    top: 2135px;
}
#testemonial3{
    position: absolute;
    left: 608px;
    top: 2135px;
}

/** Pricing**/
#pagetitle3{
    position: absolute;
    left: 300px;
    top: 2362px;
    width: 351px;
    height: 30px;
}

#subp4{
    position: absolute;
    left: 300px;
    top: 2412px;
    width: 469px;
    height: 34px;
}

#pricingframe{
    position: absolute;
    left: 100px;
    top: 2520px;
    width: 600px;
    height: 400px;
}

/**pricing.html**/

#basic{
    position: absolute;
    left: 0px;
    top: 0px;
}

#crescendo{
    position: absolute;
    left: 200px;
    top: 0px;
}

#fortissimo{
    position: absolute;
    left: 400px;
    top: 0px;
}

/** FAQs **/

#faqtitle{
    position: absolute;
    left: 600px;
    top: 50px;
    width: 327px;
    height: 37px;
}

#faqproduct{
    left: 30px;
    top: 100px;
    width: 90px;
    height: 131px;
}

#faqpricing{
    left: 30px;
    top: 700px;
    width: 80px;
    height: 37px;
}

#faq1{
    position: absolute;
    left: 20px;
    top: 150px;
    height: 291px;
    width: 400px;
}

#faq2{
    position: absolute;
    left: 20px;
    top: 750px;
    width: 400px;
    height: 127px;
}



