@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
}

#titleHeader{
    position: absolute;
    left: 26px ;
    top: 15px ;
    width: 125px;
    height: 37px;
}

#p1{
    position: absolute;
    left: 57px;
    top: 126px;
    height: 74px;
    width: 267px;
    font-size: 30px;

}

#subp1{
    position: absolute;
    left: 59px;
    top: 221px;
    width: 236px;
    height: 64px;
}

#emailform{
    position: absolute;
    left: 89px;
    top:299px;
    width: 213px;
    height: 32;
}

.subparagraph{
    font-size: 13px;
}

.navbar ul {
    
    list-style: none;
    width: 373px;
    left: 190px;
    top:19px;
    height: 37px;
    margin: 0 auto;
    padding : 0;
    background-color :white;
    text-align : center;

}

.navbar li {
    width: 150 px;
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}